#Sobre{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#box-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
  }

  #images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  
  #images a {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
  }
  
  #images img {
    width: 100px;
    height: 100px;
  }
  #images img:hover {
    transform: scale(1.2); /* Aumenta o tamanho para 120% do tamanho original */
  }
  
  @media (max-width: 1200px) {
    
    #box-sobre {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 700px) {
    
    #box-sobre {
      font-size: 1.5rem;
    }
  
    text-sobre{
      margin: 5rem;
    }
    
  }
  
  @media (max-width: 450px) {
    
    #images img {
      
      width: 70px;
      height: 70px;
    }
  
    text-sobre{
      margin: 5rem;
    }
    
  }
  
  
  
  